/**
* Doppler for LearnPress styles v1.0.0
*
*/

.dplr_settings{
  .dplr-tab-content{
    #dplr-lp-form-list{
      max-width: 600px;
    }
    #dplr-form-list-new{
      input[type="text"]{
        width:200px;
      }
    }
    .pl-0{
      padding-left: 0px;
    }
  }
}